$section-two-bg-1: rgba(#d60707, .6);
$section-two-bg-2: rgba(#d60707, .7);

section.two {
  background-image: linear-gradient(to right bottom, $section-two-bg-1, $section-two-bg-2);

  .title {
    color: white;
  }

  .content {
    width: 80%;
    max-width: 800px;
    margin: auto;

    .header {
      display: flex;
    }

    code {
      white-space: pre;
      color: white;
      background: transparent;
    }

    div.wrapper {
      margin-left: auto;
      max-width: 550px;
    }

    .image-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;

      img {
        width: 180px;
      }
    }
  }
}
