<div class="footer">
  <div class="links">
    <div class="column navigation">
      <p class="heading">ng-xmp</p>
      <ul>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/svenson95/ng-xmp-landing-animations"
          >
            GitHub Repository
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://angular.io"
          >
            angular.io
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.decodedfrontend.io/"
          >
            decodedfrontend.io
          </a>
        </li>
      </ul>
    </div>
    <div class="column navigation">
      <p class="heading">Angular animations</p>
      <ul>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://angular.io/guide/animations"
          >
            Introduction
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://angular.io/guide/transition-and-triggers"
          >
            Transition and Triggers
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://angular.io/guide/complex-animation-sequences"
          >
            Complex Sequences
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://angular.io/guide/reusable-animations"
          >
            Reusable Animations
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://angular.io/guide/route-animations"
          >
            Route Transition Animations
          </a>
        </li>
      </ul>
    </div>
  </div>
  <small class="copyright">
    <span>For more details read the official documentation </span>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://angular.io/guide/animations"
    >
      https://angular.io/guide/animations
    </a>
  </small>
</div>
