
section.three {
  div.card-wrapper {
    display: flex;
    flex-direction: column;

    button {
      margin: 20px;
    }
  }

  div.animation-wrapper {
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;

    div.card.small {
      flex-direction: row;
      width: 100%;
      margin-left: 0;
      padding: 12px;

      p {
        margin: 0;
      }

      span {
        margin-right: 10px;
      }
    }

    div.card + div.card {
      margin-top: 10px;
    }
  }

  div.content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    grid-gap: 20px;

    code {
      display: flex;

      span {
        color: lightgrey;
      }
    }
  }
}
