<div class="header">
  <div class="title">
    <a class="title" target="_blank" rel="noopener noreferrer" href="https://www.angular.io/">
      <img src="assets/angular-logo.svg" alt="angular-logo">
    </a>
    <p>ng-xmp | landing-animations</p>
  </div>
  <div class="navigation">
    <a class="link" target="_blank" rel="noopener noreferrer" href="https://www.decodedfrontend.io/">decodedfrontend.io</a>
  </div>
</div>
<div class="sections">
  <app-opacity class="section-wrapper"></app-opacity>
  <app-slide class="section-wrapper"></app-slide>
  <app-staggers class="section-wrapper"></app-staggers>
</div>
<div class="footer">
  <div class="links">
    <div class="column navigation">
      <h1>ng-xmp</h1>
      <a class="link" target="_blank" rel="noopener noreferrer" href="https://www.decodedfrontend.io/">decodedfrontend.io</a>
      <a class="link" target="_blank" rel="noopener noreferrer" href="https://angular.io">angular.io</a>
    </div>
    <div class="column navigation">
      <h1>Angular animations</h1>
      <a class="link" target="_blank" rel="noopener noreferrer" href="https://angular.io/guide/animations">Introduction</a>
      <a class="link" target="_blank" rel="noopener noreferrer" href="https://angular.io/guide/transition-and-triggers">Transition and Triggers</a>
      <a class="link" target="_blank" rel="noopener noreferrer" href="https://angular.io/guide/complex-animation-sequences">Complex Sequences</a>
      <a class="link" target="_blank" rel="noopener noreferrer" href="https://angular.io/guide/reusable-animations">Reusable Animations</a>
      <a class="link" target="_blank" rel="noopener noreferrer" href="https://angular.io/guide/route-animations">Route Transition Animations</a>
    </div>
  </div>
  <p class="copyright">
    For more details read the official documentation
    <a target="_blank" rel="noopener noreferrer" href="https://angular.io/guide/animations">https://angular.io/guide/animations</a>
  </p>
</div>
