.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1976d2;
  padding: 10px 30px;

  .title {
    display: flex;
    align-items: center;

    a {
      margin-right: 10px;

      img {
        width: 40px;
      }
    }

    p {
      display: flex;
      margin: 0;
      font-size: 1.2rem;
      color: white;
      align-items: center;
    }
  }

  .navigation {
    a {
      text-decoration: none;
      color: white;
      letter-spacing: 1px;
      cursor: pointer;

      &:hover {
        text-decoration: underline #d60707;
      }
    }

    a + a {
      margin-left: 20px;
    }
  }
}

.footer {
  background: #252732;
  color: white;
  padding: 30px;
  position: relative;

  .links {
    display: flex;

    .column {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 1.2rem;
        font-weight: 500;
        color: #4289de;
        margin-top: 0;
        margin-bottom: 5px;
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 6px;
        margin-bottom: 0;

        cursor: pointer;

        &:hover {
          text-decoration: underline #d60707;
        }
      }
    }
  }

  .column + .column {
    margin-left: 50px;
  }

  .copyright {
    color: darkgrey;
    font-size: .8rem;
    text-align: right;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline #d60707;
      }
    }
  }
}
