<div class="header">
  <div class="title">
    <a class="title" target="_blank" rel="noopener noreferrer" href="https://www.angular.io/">
      <img src="assets/angular-logo.svg" alt="angular-logo">
    </a>
    <p>ng-xmp | landing-animations</p>
  </div>
  <div class="navigation">
    <a class="link" target="_blank" rel="noopener noreferrer" href="https://www.decodedfrontend.io/">decodedfrontend.io</a>
  </div>
</div>
<div class="sections">
  <app-opacity class="section-wrapper"></app-opacity>
  <app-slide class="section-wrapper"></app-slide>
  <app-staggers class="section-wrapper"></app-staggers>
</div>
<div class="footer">
  <div class="column languages">
    <h1>Languages</h1>
    <p>JavaScript</p>
    <p>TypeScript</p>
    <p>Java</p>
    <p>NodeJS</p>
    <p>Python</p>
  </div>
  <div class="column navigation">
    <h1>Navigation</h1>
    <p>Home</p>
    <p>About</p>
    <p>Contact</p>
  </div>
  <p class="copyright">
    For more details read the official documentation
    <a target="_blank" rel="noopener noreferrer" href="https://angular.io/guide/animations">https://angular.io/guide/animations</a>
  </p>
</div>
