.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1976d2;
  padding: 10px 30px;

  .title {
    display: flex;
    align-items: center;

    a {
      margin-right: 10px;

      img {
        width: 40px;
      }
    }

    p {
      display: flex;
      margin: 0;
      font-size: 1.2rem;
      color: white;
      align-items: center;
    }
  }
}
