
section.one {
  width: fit-content;
  justify-content: center;
  margin: auto;

  div.content {
    width: fit-content;
    margin-bottom: 50px;
  }

  div.card-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;

    button.primary-button {
      margin: 20px;
    }

    div.card {
      max-width: 800px;
      margin: 0;

      p {
        margin-top: 0;
      }

      code.import {
        font-size: .9rem;
      }
    }
  }

  hr {
    height: 1px;
    width: 100%;
    flex-shrink: 0;
    background: lightgrey;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
