/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

p {
  line-height: 22px;
}

button {
  background: transparent;
  border: none;
}

button.primary-button {
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  background: rgba(#0084ff, 0.6);
  color: white;
  border: 1px solid lightgrey;
  padding: 10px 14px;

  &:hover {
    background: rgba(#0084ff, 0.8);
  }
}

code {
  font-family: Roboto Mono, monospace;
  width: fit-content;
  background-color: hsla(0, 0%, 86%, 0.3);
  border-radius: 4px;
  padding: 1px 2px;
}

main > *:not(:first-child):not(:last-child) section {
  position: relative;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .title {
    margin: 0;
    font-weight: 300;

    &.right {
      color: black;
      text-align: right;
      align-self: end;
    }
  }

  .card-wrapper {
    display: flex;
    height: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    background: dimgrey;
    color: white;
  }
}
